{% extends "primary_secondary_content_base.html.twig" %}
{% set color_class = globals_color_class_member %}
{% import "macros/kitchen_sink.html.twig" as kitchen_sink %}

{% block title %}{{ "members_invite.title"|trans }}{% endblock %}
{% block description %}{{ "members_invite.description"|trans }}{% endblock %}

{% trans_default_domain "administration_organisation" %}

{% block primary_content %}
    <p>{{ "members_invite.not_finished_yet"|trans }}</p>
{% endblock %}